.header-top {
    background: #a321ff;
}

#main-menu ul li a:hover {
    background: #a321ff;
}

#main-menu .dropdown-menu a:hover {
    background: #a321ff;
}

.bloq-search input[type="text"] {
    border: 1px solid #a321ff;
}

.bloq-search input[type="submit"] {
    background: #a321ff;
}

.google-maps .filter {
    background: #a321ff;
}

.section-title:before {
    background-color: #a321ff;
}

.section-title h2 {
    color: #a321ff;
}

.recently .homes-content .homes-list li {
    color: #a321ff;
}

.recently .homes-content .homes-list li i {
    color: #a321ff;
}

.first-footer .bloq-email .email input[type="submit"] {
    background: #a321ff;
}

#navigation.style-1 .current {
    color: #a321ff;
}

#navigation.style-1 ul li:hover {
    background: #a321ff;
}

.twitter-widget.contuct .twitter-area .text h5 a {
    color: #a321ff;
}

.first-footer .contactus ul li .fa {
    color: #a321ff;
}

.first-footer .newsletters h3::after {
    background: #a321ff;
}

.feature-cities-1 .listing-badges .featured {
    background: #a321ff;
}

.slick-prev:hover,
.slick-next:hover {
    background: #a321ff;
}

.welcome-title h2 span,
.welcome-title h2 span {
    color: #a321ff;
}

.welcome .popup-youtube {
    color: #a321ff;
}

.welcome .wprt-image-video .iq-waves .waves {
    background: rgb(58, 44, 95) none repeat scroll 0 0 padding-box;
}

.services-home .bg-base {
    background: #a321ff;
}

.services-home a.text-base {
    color: #fff;
}

.portfolio .homes-content .homes-list li {
    color: #a321ff;
}

.portfolio .homes-content .homes-list li i {
    color: #a321ff;
}

.top-location .owl-theme .owl-nav [class*=owl-] {
    background: #a321ff;
}

.blog-section .news-item a:hover h3 {
    color: #a321ff;
}

.blog-section .news-link {
    color: #a321ff;
}

.testimonials .test-1 p::before {
    color: #a321ff;
}

.testimonials .test-1 h3 {
    color: #a321ff;
}

.owl-dot.active {
    background: #a321ff !important;
}

.counterup .countr .fa {
    color: #a321ff;
}

.realhome_subscribe input {
    border-color: #a321ff;
}

.realhome_form_subscribe button {
    background: #a321ff;
    border: 2px solid #a321ff;
}

.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
    background-color: #a321ff;
}

.first-footer .btn {
    background: #a321ff;
}

.first-footer .btn:hover {
    background: transparent;
}

.navigation ul li a:hover {
    color: #a321ff;
}

.twitter-widget.contuct .twitter-area .icon-holder i {
    color: #a321ff;
}

.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
    color: #a321ff;
}

.second-footer {
    background: #a321ff;
}

.go-up {
    background: #a321ff;
}

.main-search-field {
    background: #a321ff;
}

.btn-default.btn-theme-colored2:hover {
    background: #a321ff;
}

.text-theme-colored2 {
    color: #a321ff !important;
}

.btn-dark.btn-theme-colored {
    background-color: #a321ff;
}

.parallax-search .form-group .nice-select:hover {
    color: #a321ff;
}

.parallax-search .form-group .nice-select i {
    color: #a321ff;
}

.parallax-search .form-group .list li:hover {
    background: #a321ff;
}

.parallax-search .form-group .btn {
    background: #a321ff;
}

.inner-pages .blog .active-view-btn:hover {
    background: #a321ff !important;
}

.inner-pages .change-view-btn:hover {
    color: #a321ff !important;
}

.inner-pages .blog .block-heading .change-view-btn.lde:hover {
    background: #a321ff;
}

.inner-pages .blog .section-heading .media .media-left i {
    background: #a321ff;
}

.inner-pages .blog .main-search-field select {
    background: #a321ff;
}

.inner-pages .blog .at-input {
    border: 2px solid #a321ff;
}

.inner-pages .blog .ui-widget.ui-widget-content {
    background: #a321ff;
}

.inner-pages .blog .hvr-bounce-to-right {
    background: #a321ff;
}

.inner-pages .widget h5::after {
    background-color: #a321ff;
}

.inner-pages .portfolio .footer i {
    color: #a321ff;
}

.inner-pages .recent-post .tags a:hover {
    color: #a321ff;
    border-color: #a321ff;
}

.page-item.active .page-link {
    background: #a321ff;
    border-color: #a321ff;
}

.page-link {
    color: #a321ff;
}

.inner-pages .blog .homes-content.details-2 .fa {
    color: #a321ff;
}

.inner-pages .blog .sorting-options h5 {
    color: #a321ff;
}

.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
    color: #a321ff;
    background-color: #a321ff;
}

.inner-pages .blog .homes-content.details .fa {
    color: #a321ff;
}

.inner-pages .button.alt {
    background-color: #a321ff;
}

.inner-pages .agent-details a:hover {
    color: #a321ff;
}

.inner-pages .agent-details .fa {
    color: #a321ff;
}

.inner-pages .about-us .who-1 h2 span {
    color: #a321ff;
}

.inner-pages .about-us .wprt-image-video .icon-wrap {
    background-color: #a321ff;
}

.bg-2 .button {
    border-color: #a321ff;
}

.inner-pages .panel .panel-heading a {
    background: #a321ff;
}

.plan-price {
    background: #a321ff;
}

.plan-price:after {
    border-top-color: #a321ff;
}

.plan a.btn {
    background: #a321ff;
}

.inner-pages .top-headings h2 {
    color: #a321ff;
}

.inner-pages .port-info .btn {
    background: #a321ff;
    border: 1px solid #a321ff;
}

#login .btn_1,
a.btn_1 {
    background: #a321ff;
}

.inner-pages .blog .social .date {
    background-color: #a321ff;
}

.blog-pots figure {
    background: #a321ff;
}

.blog .blog-pots .fa {
    color: #a321ff;
}

.btn-secondary {
    background: #a321ff;
}

.single-blog-post .img-box .overlay {
    background: rgba(58, 44, 95, 0.8);
}

.inner-pages .form-control {
    border: 1px solid #a321ff;
}

.inner-pages .input-group-btn .btn-primary {
    background: #a321ff;
    border: 1px solid #a321ff;
}

.inner-pages .input-group-btn .btn-primary:hover {
    color: #a321ff;
}

.inner-pages .comments-info h5 {
    color: #a321ff;
}

.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
    background-color: #a321ff;
}

.inner-pages .leve-comments .btn {
    background: #a321ff;
    border: 1px solid #a321ff;
}

.inner-pages .leve-comments .btn:hover {
    border: 1px solid #a321ff;
}

.inner-pages .contact-us .btn {
    background: #a321ff;
    border: 1px solid #a321ff;
}

.inner-pages .contact-us .btn:hover {
    border: 1px solid #a321ff;
}

.inner-pages .call-info h3::after {
    background-color: #a321ff;
}

.inner-pages .call-info ul li .fa {
    color: #a321ff;
}

.inner-pages .single-add-property>h3 {
    color: #a321ff;
}

.inner-pages .prperty-submit-button>button {
    background: #a321ff none repeat scroll 0 0;
}

.leaflet-div-icon,
.map-marker {
    background-color: #a321ff;
    border: 5px solid #a321ff;
}

.leaflet-div-icon:before,
.map-marker:before {
    border-top-color: #a321ff;
}

.listing-window-image:before {
    background-color: #a321ff;
}

.listing-window-content h3 {
    background-color: #a321ff;
}

section.pricing-table {
    padding: 6rem 0;
    background: #fff;
}

.homepage-3 .btn,
.homepage-3 .btn:active,
.homepage-3 .btn.sApp-btn:before,
.homepage-3 .bg-overlay::after,
.homepage-3 .benifits-item:after {
    background: linear-gradient(-47deg, #8c12e3 0%, #d261ff 100%);
}

.homepage-3 a.btn.btn-yellow:hover {
    background: linear-gradient(180deg, #d261ff 0%, #8c12e3 100%) !important;
    color: #fff;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.homepage-3 .rld-banner-tab .nav-item a.active,
.homepage-3 .rld-banner-tab .nav-item a:hover,
.homepage-3 .rld-banner-tab .nav-item a.active:before,
.homepage-3 .range-slider .ui-widget-header,
.homepage-3 .checkboxes input[type="checkbox"]:checked+label:before {
    background: #a321ff;
}

.homepage-3 .btn:hover,
.homepage-3 .popular-places .listing-badges .featured,
.homepage-3 .homes-tag.featured {
    background: #a321ff !important;
}

.homepage-3 .welcome-area {
    background: linear-gradient(-36deg,
            rgba(32, 12, 56, 0.2) 0%,
            rgba(27, 4, 29, 0.2) 100%),
        url(../../images/bg/purple.png) no-repeat scroll center center/cover;
}
